In [1]:
import tweepy as tw
import json

In [2]:
ACCESS_TOKEN = "569021798-GeVsTNV2NlVxyXLQq5CcYA6BiRnc84wnz6pKcDYV"
ACCESS_TOKEN_SECRET = "tatshAIK1g1PYnZCG0aFpwdBYoMY5mHlnQaBw7FoIwaHJ"
CONSUMER_KEY = "KZ8TgAeescvjJ1x8tvha5HDWW"
CONSUMER_SECRET = "jd5w3bGBGOJt3Ik90cAOCTT0ECVD19d754R9bUlS1jKLlX1a8O"

In [3]:
auth = tw.OAuthHandler(CONSUMER_KEY,CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tw.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [10]:
busca_arara = "Arara-Azul" + "-filter:retweets"
busca_tamandua = "Tamandu√°-Bandeira" + " -filter:retweets"

BuscaCursor_= tw.Cursor(api.search,
                        q=busca_arara,
                        lang="pt-br",
                        tweet_mode = "extended" .encode('unicode-escape').decode('utf-8')).items(1000)

BuscaCursor= tw.Cursor(api.search,
                        q=busca_tamandua,
                        lang="pt-br",
                        tweet_mode = "extended" .encode('unicode-escape').decode('utf-8')).items(1000)

inf_= [[tweet.full_text,tweet.user.name,tweet.user.screen_name,tweet.created_at,tweet.user.location,tweet.retweet_count,tweet.favorite_count,tweet.user.friends_count,tweet.user.followers_count]for tweet in BuscaCursor_]
inf= [[tweet.full_text,tweet.user.name,tweet.user.screen_name,tweet.created_at,tweet.user.location,tweet.retweet_count,tweet.favorite_count,tweet.user.friends_count,tweet.user.followers_count]for tweet in BuscaCursor]

In [6]:
inf_[:2]
inf[:2]

[['Minha fam√≠lia √© louca demais kkk\nMeu tio perguntando pra outro tio que trabalha no IBAMA quanto √© uma arara azul',
  'Pablo Lemes',
  'sou_pablo2',
  datetime.datetime(2020, 11, 29, 18, 1, 21),
  'Bras√≠lia, Brasil',
  0,
  1,
  271,
  244],
 ['Se √© azul e fala, s√≥ pode ser uma arara https://t.co/3nyoDn94ws',
  'MMD&Doider üíÉ',
  'BeckieApenas',
  datetime.datetime(2020, 11, 29, 17, 18),
  'Manaus, Brazil',
  0,
  0,
  192,
  105]]

In [11]:
import pandas as pd 

tweet_text_arara = pd.DataFrame(data=inf_, columns=['Tweet','Creation_date', 'Name','User','location','retweets','favorites','friends_count','followers_count'])
tweet_text_arara.head()

,Tweet,Creation_date,Name,User,location,retweets,favorites,friends_count,followers_count
0,Minha fam√≠lia √© louca demais kkk\nMeu tio perg...,Pablo Lemes,sou_pablo2,2020-11-29 18:01:21,"Bras√≠lia, Brasil",0,1,271,244
1,"Se √© azul e fala, s√≥ pode ser uma arara https:...",MMD&Doider üíÉ,BeckieApenas,2020-11-29 17:18:00,"Manaus, Brazil",0,0,192,105
2,E ontem o cara me aparece com uma arara azul n...,Vanderson ü¶Ö,Vaandoo_,2020-11-29 14:55:09,S√£o Bernardo do Campo,0,1,376,577
3,@hallwayghost KAKAKKAKA a arara azul era de um...,duda ‚Ä¢ üìñ: hdo‚Åµ,twentyhalpert,2020-11-29 03:44:30,,0,0,6652,6693
4,@twentyhalpert eu moro interior to acostumada ...,p√¢mela,hallwayghost,2020-11-29 03:40:04,üè° = frens,0,0,586,641

In [12]:
tweet_text_tamandua = pd.DataFrame(data=inf, columns=['Tweet','Creation_date', 'Name','User','location','retweets','favorites','friends_count','followers_count'])
tweet_text_tamandua.head()

,Tweet,Creation_date,Name,User,location,retweets,favorites,friends_count,followers_count
0,@clubpenguy caralho mano eu adoro Tamandu√° Ban...,ü•ë,lagartoplas,2020-11-29 18:53:22,ela/dela,0,0,1141,405
1,"@clubpenguy ta, mas tamandu√° bandeira se alime...",Manssono,Manssono2,2020-11-29 18:36:41,,0,0,117,15
2,Tamandu√° Bandeira se alimentando de formigas e...,linora,clubpenguy,2020-11-29 18:29:44,,0,0,146,173
3,@g1 O cara aspirava mais que tamandu√° bandeira...,Felipe Jotz,FelipeJotz,2020-11-29 15:41:49,Hong Kong,0,0,124,53
4,@CincinnatiZoo We call her Tamandu√° in Brazil....,Juliana Lins,juzin_lins,2020-11-29 14:06:50,,0,4,265,15

In [13]:
tweet_text_arara.to_csv('AraraAzul_20201129.csv', sep=';', index= False, header = True, encoding='utf-8')
tweet_text_tamandua.to_csv('TamanduaBandeira_20201129.csv', sep=';', index= False, header = True, encoding='utf-8')